autopep8==2.3.1
black==24.10.0
flake8==7.1.1
isort==5.13.2
mypy==1.11.0
pylint==3.3.6
unittest2==1.1.0
mock==5.1.0
requests_mock==1.12.1
moto==5.0.13

# Core Dependencies
boto3==1.35.92           # AWS SDK for Python to interact with AWS services
botocore==1.35.92        # Low-level, data-driven core of boto3
requests==2.32.3         # To make HTTP requests to EntraID

