# Core Dependencies
boto3==1.35.92           # AWS SDK for Python to interact with AWS services
botocore==1.37.28        # Low-level, data-driven core of boto3
requests==2.32.3         # To make HTTP requests to EntraID
